.svg-beer, .viewMode-item.beer:before, .svg-cat, .viewMode-item.cat:before {
  background: url("../dest/img/sprite.view.svg") no-repeat; }

.svg-beer, .viewMode-item.beer:before {
  background-position: 0 0; }

.svg-cat, .viewMode-item.cat:before {
  background-position: 100% 0; }

.svg-beer, .viewMode-item.beer:before, .svg-cat, .viewMode-item.cat:before {
  background-image: url("../img/sprite.view.svg");
  background-size: cover; }

.content {
  width: 1000px;
  margin: 50px auto;
  background-color: #f5f5f5;
  padding: 50px; }
  .content h1 {
    border-bottom: 1px solid #ccc; }
  .content h2 {
    margin-top: 20px; }

.viewMode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }
  .viewMode-item {
    padding: 10px 10px 10px 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative; }
    .viewMode-item:before {
      display: block;
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      top: 50%;
      left: 10px;
      margin-top: -20px; }
    .viewMode-item.cat {
      margin-right: 50px; }

.symbolMode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }
  .symbolMode-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px; }
    .symbolMode-item.cat {
      fill: #8D4C32;
      margin-right: 50px; }
    .symbolMode-item.beer {
      fill: #BF923B; }
  .symbolMode-ico {
    width: 40px;
    height: 40px;
    margin-right: 10px; }
